services:
  web-api:
    image: ${DOCKER_REGISTRY-}webapi
    container_name: book-my-event-web-api
    build:
      context: .
      dockerfile: src/Web.Api/Dockerfile
    ports:
      - 5000:8080
      - 5001:8081
    depends_on:
      - auth-server
      - postgres-api
      
      
    networks:
      - bookmyevent-network

  postgres-api:
    image: postgres:17
    container_name: postgres-api
    environment:
      - POSTGRES_DB=book-my-event
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=123456
    volumes:
      - ./.containers/db-api:/var/lib/postgresql/data
    ports:
      - 5432:5432
    networks:
      - bookmyevent-network

  auth-server:
    image: ${DOCKER_REGISTRY-}authserver
    container_name: book-my-event-auth-server
    build:
      context: .
      dockerfile: src/Auth/Dockerfile
    ports:
      - 6000:8080
      - 6001:8081
    depends_on:
      - postgres-auth
    networks:
      - bookmyevent-network

  postgres-auth:
    image: postgres:17
    container_name: postgres-auth
    environment:
      - POSTGRES_DB=book-my-event-auth
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=123456
    volumes:
      - ./.containers/auth-db:/var/lib/postgresql/data
    ports:
      - 5433:5432
    networks:
      - bookmyevent-network
 
  seq:
    image: datalust/seq:2024.3
    container_name: seq
    environment:
      - ACCEPT_EULA=Y
    ports:
      - 8081:80
    networks:
      - bookmyevent-network

  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: bookmyevent@ai.com
      PGADMIN_DEFAULT_PASSWORD: bookmyevent
    ports:
      - "8080:80"
    networks:
      - bookmyevent-network

networks:
  bookmyevent-network:
